<!DOCTYPE html>
<html>
<head>
  <title>Noteability</title>
  <%= stylesheet_link_tag    "noteability/application", media: "all" %>
  <%= javascript_include_tag "noteability/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
